apiVersion: apps/v1
kind: Deployment
metadata:
  name: kolkhis-backend
  namespace: kolkhis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kolkhis-backend
  template:
    metadata:
      labels:
        app: kolkhis-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/euxinedata/kolkhis-backend:ea41eb8
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
